.bouncingLoader {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.bouncingLoader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncingLoader 0.6s infinite alternate;
}

@keyframes bouncingLoader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncingLoader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncingLoader > div:nth-child(3) {
  animation-delay: 0.4s;
}

ul li:before {
  content: '\2713';
  display: inline-block;
  color: green;
  padding: 0 6px 0 0;
}

ul li {
  margin-left: -40px;
  margin-bottom: 20px;
  list-style-type: none;
  font-size: 1em;
}

h1 {
    letter-spacing: 5px;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    line-height: 60px;
    color: white;
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
     animation: .8s shake infinite alternate;
 }
@keyframes shake {
    0% { transform: skewX(-10deg); }
    5% { transform: skewX(10deg); }
    10% { transform: skewX(-10deg); }
    15% { transform: skewX(10deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
 }